/vendor
/node_modules
/desktop/node_modules
.env
.env.*
!.env.example
/database/*.sqlite
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/build
.phpunit.result.cache
